

<div class="box">
  <h1>You love Divvy Bikes.</h1>
  <h2>Now—<i>finally!</i>—an easy way to brag about<br> all the miles you've Divvied.</h2>

  <br>

  <p>Enter your Divvy username/password after you read about <a href="/about">Privacy & Security</a>.</p>

  <%= form_tag "/posts", :method => 'post' do %>
    <label for='username'>Username</label> <%= text_field_tag 'username' %>
    <label for='password'>Password</label> <%= password_field_tag 'password' %>
    <br> 
    <br> 
    <% if @google_drive == false %>
      <input type="checkbox" id="google-drive">Export a copy of my Divvy data to my Google Drive.<br>
      <%= hidden_field_tag 'google_token', 'none' %>
    <% else %>
      &#10003; &nbsp; You've requested we export your data to your Google Drive (<a href="/undo">undo</a>).<br>
      <%= hidden_field_tag 'google_token', @token %>
    <% end %>
    <br>
    <%= submit_tag "Let's go!" %>
  <% end %>

</div> 