<!DOCTYPE html>
<html>
<head>
  <title> DivvyBrags </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="9ygY9SLHbXB3Ql31cEMrV9sKuRZoVCHx-dIe4dyBUbk" />
  <meta charset="UTF-8" />
  <meta name="google" value="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36010863-3', 'divvybrags.com');
    ga('send', 'pageview');
  </script>

</head>
<body>

<div id='header' class='sticky'>
  <span id='divvybrags-label'><i>DivvyBrags</i></span> &nbsp; &nbsp;
  <a href='/home'>home</a> &nbsp;
  <!-- Not quite ready yet! <a href='/forum'>forum</a> &nbsp; -->
  <a href='/leaderboard'>leaderboard</a> &nbsp;
  <a href='/about'>about</a>
</div>

<% unless flash.empty? %> 
  <p id='flash'><i><%= notice %></i></p>
<% end %>

<%= yield %>

<div id='footer' class='sticky'>
  <p id='footer-text'>Yo. This is <strong>NOT</strong> an official Divvy website. 
    <br>
    Just a fun web app by an enthusiastic <a href="https://www.twitter.com/alexsoble">Divvy fan</a>.</p>
</div>

</body>
</html>
